Options -MultiViews
RewriteEngine On

# Si le fichier ou dossier demandé existe vraiment (ex: css, images), on le sert.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Sinon, on redirige tout vers index.php
RewriteRule ^ index.php [QSA,L]