<?php

// Modèle de configuration BDD
// Renommez ce fichier en "db.php" et mettez vos vrais infos

// Configuration Laragon par défaut
define('HOST', '******');
define('DB_NAME', '******');
define('USER', '******');
define('PASS', '******');